<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ImageUrl</key>
		<string>aio_icons_camera</string>
		<key>Title</key>
		<string>相机</string>
	</dict>
	<dict>
		<key>ImageUrl</key>
		<string>aio_icons_pic</string>
		<key>Title</key>
		<string>图片</string>
	</dict>
	<dict>
		<key>ImageUrl</key>
		<string>aio_icons_location</string>
		<key>Title</key>
		<string>位置</string>
	</dict>
</array>
</plist>
